{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}


</style>
<div class="content-section">
    <div class="media">
        {% if user.profile.image %}
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% endif %}
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>

            {{ u_form|crispy }}
            {{ p_form|crispy }}

             <label>Preferred Newsportal </label>


                <select class="selectpicker " name="news_source" multiple data-live-search="true">
                    {% for news in newsapi %}
                    <option value="{{ news.news_id }}">{{ news.news_id }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="">Preferred Country </label>
            <div id="country_id">
                <select class="form-control" name="country" data-live-search="true">
                    <option disabled selected value> -- Select Country
                        --
                    </option>
                    {% for news in unique_country %}
                    <option value="{{ news.country }}">{{ news.country }}</option>
                    {% endfor %}
                </select>
            </div>

                <!--                <p align="right" style="margin-top:10px">-->
                <!--                    <input type="submit" class="btn btn-primary" value="submit">-->
                <!--                </p>-->

                </p>



            <div class="form-group" align="right">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>

        </fieldset>

    </form>
</div>

{% endblock content %}


{% block extra_js %}
<script>
var text_source =  `{{ source }}`;
//We need to show the text inside the span that the plugin show
$('.bootstrap-select .filter-option').text(text_source);
//Check the selected attribute for the real select
var country = `{{ country }}`
$("#country_id select").val(country);
</script>
{% endblock extra_js %}