{% extends 'blog/base.html' %}

{% block content %}
<style>

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom:5px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content_new {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

</style>

{% for post in articles %}

<article class="media content-section">
    <!--            <img class='rounded-circle article-img' src="{{ post.urlToImage }}" alt="">-->
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.source.name }}</a>
            <small class="text-muted">{{ post.publishedAt }}</small>
        </div>
                     <a id="articleUrl" href="{{ post.url }}" target="_blank">
                                    <h4>{{ post.title }}</h4>
                                </a>

            <p class="article-content">{{ post.description }}</p>

            <blockquote>

                {% if post.author %}
                <footer>{{ post.author }}</footer>
                {% endif %}
            </blockquote>
    </div>

</article>
{% endfor %}


{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}


{% endblock content %}

{% block extra_js %}

<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    $('#content').toggle();

  });
}

</script>
{% endblock %}

{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
        <h3>News Filter</h3>

        <form action="" method="POST">
            {% csrf_token %}
            <select class="selectpicker" name="news_source" multiple data-live-search="true">
                {% for news in newsapi %}
                <option value="{{ news.news_id }} ">{{ news.news_id }}</option>
                {% endfor %}
            </select>
            <br><br>

            <select class="form-control" name="country" data-live-search="true">
                <option disabled selected value> -- Filter By
                    <Country></Country>
                    --
                </option>
                {% for news in unique_country %}
                <option value="{{ news.country }}">{{ news.country }}</option>
                {% endfor %}
            </select>
            <p align="right" style="margin-top:10px">
                <input type="submit" class="btn btn-primary" value="submit">
            </p>

        </form>

        </p>
    </div>
</div>

{% endblock sidebar %}